{% load staticfiles %}
<html>
    <head>
        <title>
            {% block title %}kentahdotcom{% endblock title %}
        </title>
        {% block stylesheets %} 
            <link rel='stylesheet' type='text/css' href='{% static 'css/bootstrap.min.css' %}'>
        {% endblock stylesheets %}    
    </head>
    <body>
         <div class="container">
            <nav class="navbar navbar-toggleable-md navbar navbar-inverse bg-inverse">
                <a class="navbar-brand" href='/'>We Build Prisons</a>
                    <ul class='navbar-nav'>
                        <li class='nav-item'>
                            <a class='nav-link' href='{% url 'blog' %}'>blog</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='{% url 'visual' %}'>img</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link' href='{% url 'audio' %}'>audio</a>
                        </li>
                    </ul>
            </nav>
        </div>
        <div class='content'>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>